<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAKAIBANK</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: rgb(43, 59, 117); display: flex; justify-content: center; align-items: center; height: 100vh;">
    <header>
        <h1 style="text-align: center;">BAKAIBANK</h1>
    </header>
    <main style="text-align: center;">
        <h2>Выберите действие и роль:</h2>
        <div style="margin-top: 20px;">
            <button onclick="window.location.href='/accounts/register/?role=waiter'" style="margin: 10px; padding: 10px 20px;">Зарегистрироваться как Официант</button>
            <button onclick="window.location.href='/accounts/register/?role=client'" style="margin: 10px; padding: 10px 20px;">Зарегистрироваться как Клиент</button>
            <button onclick="window.location.href='/accounts/login/?role=waiter'" style="margin: 10px; padding: 10px 20px;">Войти как Официант</button>
            <button onclick="window.location.href='/accounts/login/?role=client'" style="margin: 10px; padding: 10px 20px;">Войти как Клиент</button>
        </div>
    </main>
</body>
</html>
