<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Waiter Profile</h1>
    </header>
    <main>
        <p>First Name: {{ profile.first_name }}</p>
        <p>Last Name: {{ profile.last_name }}</p>
        <p>Workplace: {{ profile.workplace }}</p>
        <p>Goal: {{ profile.goal }}</p>
        <p>QR Code: <img src="{{ profile.qr_code.url }}" alt="QR Code"></p>
    </main>
</body>
</html>
